html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Jaime Hernández - Web Engineer
    link(rel='stylesheet' href='https://use.typekit.net/vam5gsl.css')
    link(rel='stylesheet' href='./styles/main.pcss')
  body(container)
    nav(grid).main-nav
      ul(column='4')
        a(href='/').-active Work
        // a(href='#tools') Blog

      ul(column='4').center
        a(href='/').name Jaime Hernández
          small Web Engineer

      ul(column='4').right
        a(mailto='contact@jaime.one') Email
        a(href='https://twitter.com/jaiheravi') Twitter
        a(href='https://github.com/jaiheravi') Github

    section.main-section
      img(src='./images/concise-cover.svg').project-cover.full-width

      div(grid)
        div(column='6')
          h3.subheading
            a(href="https://concisecss.com") Concise CSS
            small CSS Preprocessor & Framework

        div(column='6')
          p Concise CSS is a project composed by a custom CSS processor based on PostCSS and a UI framework that provides base styles and components for any website.

    section.main-section.contact-section
      h2.heading Let's get to work!
        small: a(mailto='contact@jaime.one') contact@jaime.one

    footer.main-footer
      small &copy; 2020 Jaime Hernández
