html(lang='en')
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-165469869-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-165469869-1');
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Jaime Hernández - Web Engineer
    link(rel='stylesheet' href='https://use.typekit.net/dkb5ttj.css')
    link(rel='stylesheet' href='./styles/main.pcss')
  body(container)
    nav(grid).main-nav
      ul(column='4')
        a(href='/').-active Work
        a(href='https://github.com/jaiheravi' target='_blank') Open Source

      ul(column='4').center
        a(href='/').name Jaime Hernández

      ul(column='4').right
        a(mailto='contact@jaime.one') Email
        a(href='https://twitter.com/jaiheravi' target='_blank') Twitter

    section.main-section
      img(src='./images/concise-cover.svg').project-cover.full-width

      div(grid)
        div(column='6')
          h3.subheading
            a(href="https://concisecss.com") Concise CSS
            small CSS Preprocessor & Framework

        div(column='6')
          p Concise CSS is a project composed by a custom CSS processor based on PostCSS and a UI framework that provides base styles and components for any website.

    section.main-section
      img(src='./images/minos-cover.svg').project-cover.full-width

      div(grid)
        div(column='6')
          h3.subheading
            a(href="https://github.com/Jaiheravi/Minos") Minos
            small Attribute-based CSS Grid System

        div(column='6')
          p Minos is a CSS grid system that provides HTML attributes to build layouts. It's based on flex-box and not on the grid spec because it wouldn't be intuitive enough.

    section.main-section.contact-section
      h2.heading Let's get to work!
        small: a(mailto='contact@jaime.one') contact@jaime.one

    footer.main-footer
      small &copy; 2020 Jaime Hernández
