html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Jaime Hernández - Computing & Design
    link(rel="stylesheet" href="./styles/main.pcss")
  body
    container
      h1 abcdefg
